body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10vw;
}

.generalinfo:first-of-type {
  padding-top: 50px;
}

.generalinfo,
.education,
.experience {
  display: grid;
  min-width: 50vw;
  justify-self: center;
}

.generalinfo > input[type=text],
.education > input[type=text],
.experience > input[type=text],
.education > input[type=date],
.experience > input[type=date],
.generalinfo > input[type=tel],
.generalinfo > input[type=email] {
  height: 30px;
}

.generalinfo > label,
.education > label,
.experience > label {
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 1/2;
  width: 100vw;
  box-shadow: 0px 5px 20px black;
  background-color: darkcyan;
}

nav > h1 {
  font-size: 30px;
  margin-bottom: 31.5px;
}

.navbuttons {
  grid-column: 3/4;
}

.navbuttons > button {
  font-size: 17px;
  transition: font-size 0.1s ease-in-out;
}

.navbuttons > button:hover {
  font-size: 18px;
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-rows: 5.2vw 1fr;
}

input[type=text],
input[type=date],
input[type=tel],
input[type=email] {
  margin-bottom: 10px;
}

input[type=checkbox] {
  width: fit-content;
}

textarea {
  font-size: 15px;
  height: 100px;
}

label {
  margin-bottom: 5px;
}

#stillstudyingdiv,
#stillemployeddiv {
  display: flex;
  justify-content: start;
  padding-top: 10px;
}
