:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

}

.buttonscontainer {
  display: flex;
  align-self: center;
  justify-self: center;
}

button {
  appearance: none;
  background-color: darkcyan;
  border: none;
  height: 65px;
  width: 150px;
  margin-top: 30px;
  font-size: 15px;
  justify-self: center;
  border-radius: 15px;
}

button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
